@font-face {
    font-family:"Comic Sans MS";
    src:url("/static/Not_Comic_Sans.ttf");
}
.center {
  text-align:center;
}

#ring{
  padding-top:30%
}

p:first-letter {
    text-transform:capitalize;
}
